<div style='width: 100%;height:100px'>
<hr>
	<ul class='footer'>
		<li><a href='#'>About Us</a></li>
		<li><a href='#'>Contact Us</a></li>
		<li><a href='#'>Privacy Policy</a></li>
		<li><a href='#'>Blog</a></li>
		<li><a href='#'>Team</a></li>
		<li><a href='#'>Site Map</a></li>
	</ul>	
</div>